{
  "presets": [["es2015", {"loose": false}], "stage-0"],
  "plugins": [
    "dynamic-import-webpack",
    "transform-object-rest-spread",
    "add-module-exports",
    "transform-es2015-modules-umd"
  ]
}
